.recent-post {
	display: grid;
	align-content: space-around;
	grid-row-gap: 6px;

	.recent-post__topics > * {
		color: $color-blue-one;
		font-size: 14px;
		line-height: 17px;
	}

	.recent-post__title a {
		color: $color-gray-one;
		font-size: 18px;
		text-decoration: none;
		line-height: 17px;
	}
}

.post-topic {
	color: $color-gray-two;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	margin-right: 8px;
}

.no-content {
	color: $color-gray-one;
}
