.results-wrapper {
	display: grid;
	justify-items: center;
	align-content: space-around;
	grid-template-rows: 1fr 1fr 2fr;

	height: 100vh;
	width: 66vw;
}

.logo-container {
	margin-top: 20px;
	width: 600px;
	height: 100%;
	display: grid;
	align-content: center;
	justify-content: center;
}

.results-posts-container {
	width: 600px;

	display: grid;
	justify-content: center;
	align-items: flex-start;

	margin-bottom: 50px;
}
